* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
    background-color: #e3edf7;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100dvh;
    width:auto;
}

h1{
    font-style: inherit;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:10px;
    margin:10px auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding:40px;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    width:auto;
    height:auto;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    filter:grayscale(100%);
    width:80px;
    height: 80px;
    border:1px transparent;
    padding:20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2),-2px -2px 2px 1px rgba(255, 255, 255, 0.8);
    transition: 0.5s ease;
}

.icons:hover{
    padding:23px;
    filter:grayscale(0%);
    box-shadow: -2px -2px 2px 1px rgba(0, 0, 0, 0.2),2px 2px 2px 1px rgba(255, 255, 255, 0.8);
}